<p dir = 'rtl'>  درس دوم  (series) </p>

In [1]:
import pandas as pd

<p dir = 'rtl'>  ما در دستور زیر یک سری خالی ایجاد کردیم </p>

In [2]:
pd.Series()

Series([], dtype: object)

<p dir = 'rtl'>  با دستور زیر مانند ساخت یک List میتونیم یک seris نیز ایجاد کنیم </p>

<p dir = 'rtl'>  در دستور زیر ما یک لیست از اعداد داریم </p>

In [3]:
pd.Series([1,3,5,7])

0    1
1    3
2    5
3    7
dtype: int64

<p dir = 'rtl'>  در دستور زیر ما یک لیست از رشته ها داریم </p>

In [4]:
pd.Series(['Tehran', 'Tabriz', 'Isfahan', 'Shiraz'])

0     Tehran
1     Tabriz
2    Isfahan
3     Shiraz
dtype: object

<p dir = 'rtl'>  دستور زیر دقیقا مانند دستور قبلی میباشد فقط اونو داخل یک Data گذاشتیم </p>

In [5]:
pd.Series(data=[1,3,5,7])

0    1
1    3
2    5
3    7
dtype: int64

<p dir = 'rtl'>  در دستور زیر میتونیم Dataها را بدیم و یک پارامتر دیگه ای هم در نظر بگیریم برای index  ها </p>

In [49]:
s1 = pd.Series(
    ['Tehran', 'Ankara', 'Baku', 'Berlin']
    , index=['Iran', 'Turkey', 'Azerbaijan', 'Germany'])

<p dir = 'rtl'>  فرق دستور زیر با دستور بالایی اینه که بجایی که ما بهش index بدیم خودش index هارا ساخته است </p>

In [7]:
s2 = pd.Series(['Tehran', 'Ankara', 'Baku', 'Berlin'])

<p dir = 'rtl'>  در نمایش دستور زیر به ما نشون میده که کشور ها کلید ما هستند برای مقداری که براشون در نظر گرفته شده است  </p>

In [50]:
s1

Iran          Tehran
Turkey        Ankara
Azerbaijan      Baku
Germany       Berlin
dtype: object

In [51]:
s2

0    Tehran
1    Ankara
2      Baku
3    Berlin
dtype: object

<p dir = 'rtl'> ما اینجا کلید را صدا میکنیم و مقداری که داخل میباشد را به ما نشون میده  </p>

In [10]:
s1['Iran']

'Tehran'

<p dir = 'rtl'>  نکته بسیار مهم اینه که به هر ترتیبی که بنویسیم به همان ترتیب نمایش میدهد </p>

In [11]:
pd.Series(
    [1,2,3,4], 
    index=['A', 'B', 'A', 'C'])

A    1
B    2
A    3
C    4
dtype: int64

<p dir = 'rtl'> ما در دستور زیر با قابلیت Pandas میتونیم چند کلید با نام یکسان داشته باشیم  </p>

In [12]:
s3 = pd.Series(
    [1,2,3,4], 
    index=['A', 'B', 'A', 'C'])

**<p dir = 'rtl'>  خروجی های نام یکسان </p>**

In [13]:
s3['A']

A    1
A    3
dtype: int64

In [15]:
s3.dtype

dtype('int64')

In [16]:
pd.Series(
    [1, 3, 5, 7, 9], 
    dtype='float')

0    1.0
1    3.0
2    5.0
3    7.0
4    9.0
dtype: float64

In [17]:
s4 = pd.Series([1, 3, 5, 2, 7, 4, 6])

In [18]:
s4

0    1
1    3
2    5
3    2
4    7
5    4
6    6
dtype: int64

In [19]:
s4[2] = None

In [20]:
pd.Series([1, 3, None, 7])

0    1.0
1    3.0
2    NaN
3    7.0
dtype: float64

In [21]:
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [22]:
pd.Series(('A', 'B', 'C'))

0    A
1    B
2    C
dtype: object

In [23]:
pd.Series(list({'A', 'B', 'C'}))

0    A
1    B
2    C
dtype: object

In [24]:
pd.Series(
    {'Iran': 'Tehran', 'Germany': 'Berlin', 'France': 'Paris'}
    )

Iran       Tehran
Germany    Berlin
France      Paris
dtype: object

In [25]:
s4 = pd.Series([1,3,2,5,2,3,4,1,5])

In [26]:
len(s4)

9

In [27]:
s4.size

9

In [28]:
s4.count()

9

In [29]:
s4.shape

(9,)

In [30]:
s4.values

array([1, 3, 2, 5, 2, 3, 4, 1, 5], dtype=int64)

In [31]:
s5= pd.Series([1,3,2,5,2,3,None,1,5])

In [32]:
len(s5)

9

In [33]:
s5.size

9

In [34]:
s5.count()

8

In [35]:
s5.shape

(9,)

In [36]:
s5.values

array([ 1.,  3.,  2.,  5.,  2.,  3., nan,  1.,  5.])

In [37]:
s6 = pd.Series(['A', 'B', 'C'])

In [38]:
s6.values

array(['A', 'B', 'C'], dtype=object)

In [39]:
s6

0    A
1    B
2    C
dtype: object

In [40]:
s6.index

RangeIndex(start=0, stop=3, step=1)

In [41]:
s7 = pd.Series({'A':1, 'B':2, 'C':5, 'D':25, 'E':50})

In [42]:
s7

A     1
B     2
C     5
D    25
E    50
dtype: int64

In [43]:
s7.values

array([ 1,  2,  5, 25, 50], dtype=int64)

In [44]:
s7.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [45]:
s4

0    1
1    3
2    2
3    5
4    2
5    3
6    4
7    1
8    5
dtype: int64

In [46]:
s4.is_unique

False

In [47]:
s4.is_monotonic

AttributeError: 'Series' object has no attribute 'is_monotonic'

In [ ]:
s8= pd.Series([1,3,6,8,9])

In [ ]:
s8.is_unique

In [ ]:
s8.is_monotonic

In [ ]:
s8.is_monotonic_decreasing

In [ ]:
s8.is_monotonic_increasing